body {
  font-family: "GeosansLight", Times, serif;
  background-color:#fcf5de;
  text-align:center ;
}
a{
  text-decoration:none;
  display: inline-block;
  color:#593a0f;
  margin-left :4px ;
}
.contact{
  font-size : 30px;
  color:#593a0f;
  text-decoration:underline;
}
a:hover {
   text-decoration: underline;
}
nav {
  font-size : 30px;
  display:flex;
  height: 100px;
  justify-content: space-around;
  flex-direction: row;
}
.presentation {
  text-align:left ;
  width : 800px ;
  margin:auto ;
  line-height: 1.8;
  font-size: 1.5em ;
  background-color:#fcf5ea;
  border-radius:20px;
  padding:30px;
}
h1{
  text-align:center ;
}
img {
  display:block ;
  margin:  auto ;
}
table{
  font-size: 1.5em ;
  background-color:#fcf5ea;
  margin:auto;
  padding:30px;
}
.cat{
  margin : 20px auto ;
  width: 600px ;
  border : 2px solid #baa26f ;
  border-radius : 10px ;
  height:70px;
  background-color:white ;
  font-size:40px ;
}

span {
  font-weight:bold ;
}
form[name="formulaire"] {
  text-align:left ;
}

form[name="formulaire"] label {
    display: block;
    width: 30%;
    float:left ;
}

input[type=submit],input[type=reset],.liens{
  
  background-color:white ;
  margin:30px;
  font-size:1.1em;
  border : 3px solid #baa26f ;
  border-radius : 5px ;
  padding:3px ;  
}
.boutons{
  text-align:center ;
}
#contact , #mentions {
  display:inline-block;
  margin:10px 90px ;
}
footer {
  background-color:#d6d5d4;
  color:#593a0f;
  padding:2px;
  font-size : 20px ;
}
/*boutons de connexion et de déconnexion et de retour*/
#connexion, #deconnexion,#retour{
  display:block ;
  position:absolute ;
  right:5px ;
  background-color:white ;
  padding:3px ;
  font-size:1.1em;
  border : 3px solid #baa26f ;
  border-radius : 5px ;
}
/* Le login à coté du bouton déconnexion */
#login {
  display:block ;
  position:absolute ;
  right:10px ;
  font-size:1.1em;
}
#bienvenue{
  font-size : 30px;
  
}
#messages{
  margin-bottom:20px ;
  padding-left:10px ;
  background-color:white ;
  border : 2px solid #baa26f ;
  text-align:left ;
}
.modif{
  display:flex;
 
}
.articlemodif:first-child{
  width:50%;
  background-color:white ;
  border : 2px solid #baa26f ;
  text-align:left ;
}
.articlemodif:not(:first-child){
  flex:1;
   background-color:white ;
  border : 2px solid #baa26f ;
}

@font-face {
    font-family: "GeosansLight";
    src: url(GeosansLight.ttf);
}