body {
  font-family: "GeosansLight", Times, serif;
  background-color:#fcf5de;
  text-align:center ;
  
}

a{
  text-decoration:none;
  font-size : 30px;
  display: block;
  color:#593a0f;
 
}
.contact{
  font-size : 30px;
  color:#593a0f;
  text-decoration:underline;
  display:inline;
}

a:hover {
   text-decoration: underline;
}
nav , footer {
  display:flex;
  height: 100px;
  justify-content: space-around;
  flex-direction: row;
}
.presentation {
  width: 600px ;
  margin:auto ;
  line-height: 1.8;
  font-size: 1.5em ;
  background-color:#fcf5ea;
  border-radius:20px;
  padding:30px;
}
table{
  font-size: 1.5em ;
  background-color:#fcf5ea;
  margin:auto;
  padding:30px;
}
.cat{
  margin : 20px auto ;
  width: 600px ;
  border : 2px solid #baa26f ;
  border-radius : 10px ;

}

span {
  font-weight:bold ;
}
form {
  text-align:left ;
}
label
{
	display: block; 
	width: 150px;
  float:left ;
}
input[type=submit]{
  background-color:white ;
  display: block;
  font-size:1.1em;
  border : 3px solid #baa26f ;
  border-radius : 5px ;
  margin:auto ;
}

footer {
  margin-top:30px;
  background-color:#fcf5ea;
  padding-top:20px;
  
}
@font-face {
    font-family: "GeosansLight";
    src: url(GeosansLight.ttf);
}