Options +FollowSymlinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.lequilibreaunaturel.fr
RewriteCond %{HTTP_HOST} ^http://lequilibreaunaturel.fr/index.php
RewriteCond %{HTTP_HOST} ^www.lequilibreaunaturel.fr/
RewriteCond %{HTTP_HOST} ^http://lequilibreaunaturel.fr/
RewriteRule (.*) http://lequilibreaunaturel.fr/$1 [R=301,L]

#les deux premieres lignes pour activer la réécriture
#la ligne 3 pour dire la ligne qu'on veut réecrire avec les symboles pour être sur de la bonne url 
#la dernière pour la façon définitve